{% extends 'home.html' %}
{% block title %} Customer Board
{% endblock %}
{% block content %}
<h1>Customer Board</h1>
<br>
<h2>Offers:</h2>
    {% for offer in customer_offers %}
        <a class="offer1" href="/customeroffer/{{ offer.id }}">
            <div class="offer">
                <p>Speciality:
                    {{ offer.speciality }}
                </p>
                <p>Description:
                    {{ offer.description }}
                </p>
                <p> PLN/h:
                    {{ offer.price }}
                </p>
                <p>Date Added:
                    {{ offer.date }}
                </p>
                <a>
                    {{ offer.user }}
                </a>
            </div>
        </a>
        <br>
    {% endfor %}
{% endblock %}