{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="sidenav">
<br>
    <a href="/userprofile/{{ user.id }}" style="word-wrap: break-word" >{{ user }}</a>
    <a>
            {% if user.is_authenticated %}
                <a href="/logout/">Log out</a>
            {% else %}
                <a href="/login/">Log in</a>
            {% endif %}
    </a>
<br>
    <a href="/register/">Register</a>
<br>
    <a href="/customerboard/">Customer Board</a>
<br>
    <a href="/specialistboard/">Specialist Board</a>
<br>
    <a href="/addspecialistoffer/">Add Specialist Offer</a>
<br>
    <a href="/addcustomeroffer/">Add Customer Offer</a>

</div>
<div class="main">
  {%  block content %}
    {%  endblock %}
</div>
</body>
</html>
