{% extends 'home.html' %}
{% block title %} Specialist Board
{% endblock %}
{% block content %}
<h1>Specialist Board</h1>
<br>
<h2>Offers:</h2>
    {% for offer in specialist_offers %}
        <div class="offer">
        <p>Speciality:
        {{ offer.speciality }}
        </p>
        <p>Description:
        {{ offer.description }}
        </p>
        <p> PLN/h:
        {{ offer.priceperhour }}
        </p>
        <p>
        {{ offer.available_from }}
        </p>
        </div>
    {% endfor %}
{% endblock %}